
.foto-perfil {
    height: 60%;
    width: 60%;
    max-width: 100%;
    border-radius: 50%;
}

.corPrimaria {
    background-color: #000000;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black !important;
}

.icones {
    padding-left: 5px;
}

.titulosPretos {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.textoBranco {
    color: white !important;
}

.jumbotron {
    margin-bottom: 0px;
}

.textoFooter {
    padding-top: 10%;
    font-size: 15px;
    font-style: italic;
    color: gray !important; 
}

html {
    scroll-behavior: smooth;
}

.posicao {
    position: fixed;
    margin-left: 10%;
    width: 20%;
    height: 100%;
    border-radius: 0%;
}
  
.sidenav a {
    text-decoration: none;
    display: block; 
    text-align: center; 
    padding: 10px;
    transition: all 0.5s ease; 
    color: white;
    font-size: 25px;
}
  
.sidenav a:hover {
    color: black;
    background-color: #f1f1f1;
}

hr {
    
    background-color: gray;
}
  
h7{
    font-size: 15px;
    font-style: italic;
    color: gray;
}

.jumbotron {
    padding-left: 0%;
    padding-right: 0%;
}

.container {
    padding-left: 0%;
    padding-right: 0%;
}

.redes-sociais {
    padding-top: 50px;
    padding-bottom: 50px;
}

.icones {
    padding-left: 5px;
}

.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}
  
.third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}